<footer class="bg-dark">
    <div class="container py-5 text-center text-white">
      <div class="row py-3">

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">A Python ML Project</h6>
          <p class="mb-3">Designed and brought to life by <br> Mohammed Hamza and Harikrishnan D</p>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/about/" class="text-white">About Us</a></li>
            <li class="mb-2"><a href="https://github.com/harideegee/project-h2o" class="text-white">GitHub Repo</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Mohammed Hamza</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.linkedin.com/in/mohammed-hamza-548320209/" class="text-white">LinkedIn</a></li>
            <li class="mb-2"><a href="#" class="text-white">Instagram</a></li>
            <li class="mb-2"><a href="https://github.com/Hamza08dev/" class="text-white">GitHub</a></li>
            <li class="mb-2"><a href="#" class="text-white">Email</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Harikrishnan D</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.linkedin.com/in/harikrishnan-d-163271256/" class="text-white">LinkedIn</a></li>
            <li class="mb-2"><a href="https://instagram.com/bigfoottm" class="text-white">Instagram</a></li>
            <li class="mb-2"><a href="https://github.com/harideegee/" class="text-white">GitHub</a></li>
            <li class="mb-2"><a href="mailto:harideegee@gmail.com" class="text-white">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="p-0 m-0 b-0">

   
    <div class="bg-secondary py-2">
      <div class="container text-center">
        <p class="text-white mb-0 py-2">&copy; 2022 Project H20. All risghts reserved.</p>
        
        </div>
      </div>
    
  </footer>